@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.custom-container {
  display: flex;
  background-color: $gray_super_light_2;
  width: calc(100% - 88px);
  
  @media(max-width: 1440px){
	  width: 100%;
  }

  .container-fluid {
    width: 100%;
    
    .row {
      display: flex;
      flex-wrap: wrap;

      .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
      }

      .page-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-top: 30px;

        img {
          height: 50px;
          width: 50px;
          margin-right: 20px;
        }
        h3 {
          font-size: 20px;
          color: #3D5567;
        }
      }
    }
  }
}