
.panel-container {
  width: 320px;
  background-color: #F1F1F1;
  transition: left .5s;

  
  .panel-container__mobile_toggle{
		display: none;
	}

  @media( max-width: 1199px){
	  position: absolute;
	  z-index: 999;
	  left: -320px;

	  .panel-container__mobile_toggle{
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 2px solid black;

			position: absolute;
			right: -50px;
			top: 10px;
		}
	}


  &.visible{
	  left: 0;

	  .panel-container__mobile_toggle{
		  right: 10px;
	  }
  }

  .panel-container__header {
    display: flex;
    min-height: 200px;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 30px;

    img {
      position: relative;
      left: 65px;
      margin-bottom: 20px;
      width: 100px;
      height: 60px;
    }

    .column {
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: relative;
      top: 60px;
      right: 40px;

      h3 {
        line-height: 1;
        white-space: pre-wrap;
      }

      p {
        line-height: 0;
      }
    }
  }

  .panel-container__body {
    width: 100%;
    min-height: 300px;

  }

  .panel-container__footer {
    padding-top: 150px;
  }
}