@import "../general/colors";

.title-container {
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 100px;

    img {
        height: 65px;
        width: 60px;
    }
    .title {
        margin-left: 20px;
        width: 80px;
        h2 {
          letter-spacing: 5px;
        }
    }
}

.cards-row {
    padding-left: 90px;
}

.gray-card-component {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 420px;
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 50px;

    .gray-card-element {
        background: $gray_super_light_2;
        padding: 30px;

        .gray-card-element-title {

        }

        .gray-card-item {
            margin-top: 50px;
            .gray-card-element-description {
                p {
                    color: $gray;
                    opacity: 0.5;
                }
                h3 {
                    letter-spacing: 2px;
                }
            }

            .gray-card-element-bottom {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                .phone {
                    display: flex;
                    flex-basis: 75%;
                    color: $gray;
                    p {
                        font-weight: normal;
                        font-size: 17px;
                    }
                    svg {
                        margin-right: 10px;
                    }
                }


                .buttons-container {
                    display: flex;
                    flex-basis: 5%;
                }

                .margin {
                    margin-left: 250px;
                }

                .position {
                    position: relative;
                    top: -15px;
                }
            }

            .fields-with-icons {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                .icons {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 12%;
                    svg {
                        width: 20px;
                        margin-top: 20px;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;

                    a {
                        height: 33px;
                        font-size: 17px;
                        text-decoration: none;
                        color: $gray;
                        cursor: pointer;
                    }

                    .site-name {
                        font-weight: bold;
                    }
                }
            }

            .taxi-number {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                svg {
                    margin-right: 10px;
                }
            }
        }
    }

    .communication-button {
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
    }
}

.gray-card-component::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}