@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.gray {
  background: $gray;
}

.small-filter-button {
  width: 100%;
  max-width: 250px;
  min-width: 250px;
}

.events-container {
  margin-left: 90px;

}

