
.custom-container {
  background-color: #f9f9f9;
  .container-fluid {
    .row {
      .title {
        margin: 10px 10px 0px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          margin-right: 20px;
        }
      }
      .col {
        .container-inner {
          background-color: white;
          padding: 30px 30px 30px 50px;
          margin: 30px 10px 20px 0px;
          height: 95%;
          .user-category-header {
            .user-category__image {
              width: 100%;
              justify-content: center;
              display: flex;
              img {
                height: 135px;
              }
            }

            .user-category__text {
              width: 100%;
              justify-content: center;
              display: flex;
            }
          }
          .button-container {
            margin: 50px 10px 0px 0px;
            padding: 5px;
          }
        }
      }
    }
  }
}

.my-profile__notifications{
	margin-left: 15px;
}

@media (max-width: 1680px) {
	.my-profile__change-password,
	.my-profile__edit{
		flex: 1 1;
	}

	.my-profile__change-password{
		margin-left: 20px;
	}
}

@media (max-width: 830px) {

	.custom-container {

		.container-fluid .row {
			.my-profile__edit,
			.my-profile__change-password,
			.my-profile__notifications{
				flex: auto;
				width: 100%;
				margin: 0 15px 15px;
		
				.container-inner{
					margin: 0;
					padding: 25px 15px;
					height: 100%;
				}
			}
		}
	}
}
@media(max-width:1199px){
  .custom-container{
    .container-fluid{
      >.row:nth-child(2){
        margin-bottom: 20px;
      }
      .row{
        .col{
          .container-inner{
            margin: 5px;
            padding: 20px;
            height: 100%;
          }
        }
        .col:nth-child(1){
          .container-inner{
            img{
              height: 100px !important;
            }
            h4{
              margin: 5px !important;
            }
            .checkbox-container{
              margin-top: 10px !important;
            }
          }

        }
        .col:not(first-child){
          .container-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .input-container{
              min-width: unset;
              width: 100%;
              margin-top: 10px !important;
              min-height: 30px;
              max-width: 275px;
              .input-default{
                min-height: 30px;
              }
              .button-password{
                min-height: 30px;
              }
            }
            .strength-meter-container{
              margin: 0 0 30px 0 !important;
              .strength-meter-indicator{
                font-size: 35px;
              }

            }
           
         }
        }
      }
    }
  }
}

@media(max-width:576px){
  .custom-container{
    .container-fluid{
      >.row:nth-child(2){
        margin-bottom: 20px;
      }
      .row{
        .col{
          .container-inner{
            margin: 5px;
            padding: 10px 5px;
            height: 100%;
          }
        }
      }
    }
  }
}