@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.card {
  min-height: 300px;
  min-width: 400px;
  max-width: 400px;
  margin: 15px;

  &:hover{
    .card__thumbnail::before{
      opacity: .78;
    }
  }

  .share-button-list{
    display: block;

    button{
      margin: 4px 0;
      transition: 0.5s;

      &:hover {
        background-color: #b7b7b7;
      }
    }
  }

  .card__thumbnail {
    height: 221px;
    display: flex;

    .button__eye {
      position: absolute;
      top: 190px;
      left: 260px;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      border: none;
      background: transparent;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:focus {
       outline: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.45);
      }
    }

    .card__name {
      position: relative;
      color: #fff;
      letter-spacing: 2.3px;
      padding: 10px 30px;
      margin-top: auto;
      text-transform: uppercase;
      text-shadow: 0 0 8px #000;
    }

    &::before{
      opacity: 0;
      transition: opacity .5s;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000);
    }
  }

  .card__content {
    padding: 20px;
    color: $gray;
    .card__title {
      letter-spacing: 0;
      margin-bottom: 18px;
      text-transform: capitalize;
        font-weight: bold;
    }
      .fields-with-icons {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          margin-bottom: 20px;

          .icons {
              display: flex;
              flex-direction: column;
              flex-basis: 10%;
              svg {
                  width: 17px;
                  margin-top: 11px;
              }
          }

          .text {
              display: flex;
              flex-direction: column;

              a {
                  height: 22px;
                  font-size: 15px;
                  text-decoration: none;
                  color: $gray;
                  cursor: pointer;
              }

              .site-name {
                  font-weight: bold;
              }
          }
      }

    .card__address {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.3px;
      margin-bottom: 20px;
      max-width: 240px;
      line-height: 0px;

      > span{
        font-weight: normal;
        display: block;
        color: rgba( 61, 85, 104, .24);
        margin: 40px 0px 10px 0px;
      }
    }
  }

  .card__bottom {
    @include flex-a-center;

    .button-link{
      max-width: 239px;
    }

    > a:not(.button-link){
      @include flex-centered;
      border-radius: 50%;
      margin-left: 12px;
      width: 38px;
      min-width: 38px;
      height: 38px;
      background: rgba(50, 70, 85, 0.08);
      transition: 0.5s;

      &:hover {
        background-color: #b7b7b7;
      }
    }

    .button-link + a{
      margin-left: 35px;
    }
  }
}


