.circle-button {
  border-radius: 50%;
  background-color: #F1F1F1;
  height: 40px;
  width: 40px;
  border-style: none;
  margin: 5px;
  transition: 1s;
  padding: 11px;

  &:hover {
    background-color: #9d9d9d;
  }

  img {
    height: 18px;
    width: 18px;
  }
}