@import "../helpers/mixins.scss";
@import "../general/colors.scss";

.day {
    cursor: pointer;
    min-height: 190px;
    min-width: 150px;
    width: 150px;
    border: 2px solid gray;
    color: $gray;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;

    &.active {
        outline: none;
        background: #f9f9f9;
        border: 2px solid $green;
    }

    h3 {
        font-weight: normal;
    }

    h1 {
        line-height: 0;
        font-size: 45px;
    }

    h4 {
        font-size: 18px;
    }

    &:hover {
        background: #f9f9f9;
        border: 2px solid $green;

        hr {
            border-color: $green;
        }
    }

    hr {
        border: 1px solid gray;
        color: $gray;
        width: 95%;
    }
}

