
.day {
  min-height: 190px;
  width: 170px;
  border: 2px solid gray;
  margin: 40px 0 10px 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  &:focus {
    outline: none;
  }
  h3 {
    font-weight: normal;
  }
  h1 {
    line-height: 0;
    font-size: 45px;
  }
  h4 {
    font-size: 18px;
  }
  &:hover {
    background: white;
    border: 2px solid #cfcfcf;
  }
  hr {
    border: 1px solid gray;
  }
}