
$contrast: #ffd401;

body.contrast{
	background: #000;
	color: $contrast;

	/* SVG */
	svg{
		&.fill{
			path, ellipse, rect, circle, line{
				fill: $contrast;
			}
		}
		&.stroke{
			path, rect, ellipse, circle, line{
				stroke: $contrast !important;
			}
		}
	
	
		&.fill-stroke{
			.fill{
				fill: $contrast !important;
			}
	
			.stroke{
				stroke: $contrast !important;
			}
		}

		&#bip{
			.white{
				fill: #000;
			}

			.red{
				fill: $contrast
			}
		}
	}	

	
	.arrows > button:hover,
	.sidebar__trigger.active,
	.header__link.active {
		svg {
			&.stroke{
				path, line {
					stroke: #000 !important;
				}
			}
		}
	}
	

	// ONLY COLOR
	.section-title-facilities .name-info-facilities,
	.link-to-all,
	.card .card__content,
	.card .card__content .card__address > span,
	.input-container input,
	.registration-container .container__form .bottom-container .login-container button,
	.custom-container .container-fluid .row .page-title h3,
	.gray .input-container .input-label-container .input-label,
	.form-select select,
	.yellow-discount__title,
	.page-header-section .date,
	.loop-card__content-container,
	.pagination > button, .pagination > span,
	.gray-description .col h4,
	.gray-card-component .gray-card-element .gray-card-item .gray-card-element-description p,
	.gray-card-component .gray-card-element .gray-card-item .fields-with-icons .text a,
	.gray-card-component .gray-card-element .gray-card-item .gray-card-element-bottom .phone,
	.pagination > button,
	.section-info h2,
	.section-info .section-title .name-info,
	.header-actions .link,
	.map-popup-info__extra a,
	.map-popup-info__top a,
	.main-menu a,
	.carousel__head > a,
	.footer-main__address_heading,
	.breadcrumbs div, 
	.breadcrumbs a,
	.header-logo span,
	.links-tiles .row > a,
	.loop-gastronomy-post__content,
	.loop-accommodation-post__content,
	.loop-gastronomy-post__info > a,
	.loop-accommodation-post__info > a,
	.header-main__menu > a,
	.main-menu a:hover,
	.search-form input,
	.search-form input::placeholder,
	.main-menu__title,
	.loop-news-post__content,
	.loop-news-post__date,
	.footer-main a, .footer-copyright a,
	.loop-event-post__content,
	.header__link{
		color: $contrast !important;
	}


	// BACKGROUND BLACK AND COLOR CONTRAST
	.map-with-pins-filtering-info,
	.white-body .white-body-container,
	.container-inner .row .game-card,
	.input-container .input-label-container,
	.list-container .list-view__container,
	.container-inner,
	.button-with-underline,
	.custom-container,
	.gray,
	.textarea-container,
	.textarea-container .textarea,
	.form-select__label,
	.full-page-loader,
	.page-header-section,
	.page-title,
	.map-popup-info,
	.pictures-slider__circles button,
	.text-link-expandable-info,
	.two-carousels-one-row > div:nth-child(2),
	.main-header-external-link,
	.weather{
		background-color: #000;
		color: $contrast;
	}


	// BG BLACK + FONT CONTRAST + BORDER CONTRAST
	.breadcrumbs,
	.calendar-container .calendar .react-calendar__tile,
	.calendar-container .calendar .react-calendar__navigation .react-calendar__navigation__label,
	.calendar-container .calendar .react-calendar__navigation .react-calendar__navigation__arrow,
	.custom-container .container-fluid .row .col .container-inner,
	.panel-container,
	.panel-container__button,
	.day,
	.day:hover,
	.gray .input-container .input-label-container,
	.gray-description,
	.gray-card-component .gray-card-element,
	.arrows > button:disabled,
	.pic-text-info__info,
	.share-button,
	.share-button-wrapper > .share-button-list > button, .share-button-wrapper > .share-button-list > a,
	.text-link-pic,
	.footer-main,
	.main-menu,
	.footer-copyright,
	.sidebar,
	.links-tiles .row > a:hover,
	.map-with-pins-info{
		background: #000;
		color: $contrast;
		border-color: $contrast
	}

	// BG CONTRAST 
	.sidebar__trigger.active,
	.pictures-slider__circles button.active,
	.header__link.active::before,
	.main-header-external-link > span{
		background-color: $contrast;
	}


	// BG CONTRAST AND COLOR BLACK
	.single-game-header .single-game-header-gray,
	.panel-container__button.active,
	.arrows > button:hover,
	.reservation-header,
	.day.active,
	.pagination > button.active,
	.text-link-expandable-info__expandable_head{
		background: $contrast;
		color: #000 !important;
	}

	// COLOR BLACK
	.reservation-header p,
	.single-game-header .single-game-header-gray .single-game-category,
	.single-game-header .single-game-header-gray .single-game-header-gray-title p,
	.reservation-header h1{
		color: #000 !important;
	}


	// BORDER 1px solid
	.loop-gastronomy-post__bottom > a:not(.button-link),
	.loop-accommodation-post__bottom > a:not(.button-link),
	.arrows > button,
	.sidebar{
		border: 1px solid $contrast;
	}


	// BORDER COLOR CONTRAST 
	.links-tiles .row > a,
	.button-with-underline:hover hr,
	.loop-event-post__dates,
	.loop-event-post__date{
		border-color: $contrast;
	}


	// DISPLAY NONE
	.main-header-external-link::before{
		display: none;
	}


	// GRAYSCALE
	.thumbnail,
	.container-inner .row .page-logo,
	.main-header-tiles-section__tile{
		filter: grayscale(100%);	
	}



	/************************* OTHER ******************************/
	.main-header-section__main{
		border-bottom: 1px solid $contrast;
	}

	.button-link{
		background: #000;
		color: $contrast;
		border-color: $contrast;
		&:hover{
			background: $contrast;
			color: #000 !important; 
		}
	}

	.auth-panel,
	.search-form,
	.main-menu{
		background: #000;
		border-color: $contrast;
		border-top: 1px solid $contrast;
		border-bottom: 1px solid $contrast;
	}


	.amounts-with-icons__item_circle > span{
		background: rgba(255, 212, 1, .4);
	}

	.amounts-with-icons__item_circle{
		background: rgba(255, 212, 1, .2);	
	}
}