@import "../general/colors.scss";
@import "../helpers/mixins.scss";


.main-menu{
	@include flex-wrap;
	background: linear-gradient(to right, #324655, #556D80);
	padding: 34px;

	position: absolute;
	z-index: 999;
	left: calc(-100vw + 88px);
	top: 88px;
	min-height: 813px;
	width: 100vw;

	font-size: 1.5em;


	a{
		color: #fff;
		display: block;
	}
}


$main-menu-colors:
	"tourism" $green,
	"culture" $turquoise,
	"sport" $red,
	"main" $yellow,
	"stay-updated" $aqua;

.main-menu__column{
	flex: 1;

	@each $class_name, $color in $main-menu-colors{
		&.#{$class_name}{
			.main-menu__title{
				color: $color;
			}

			.main-menu__items a:hover{
				color: $color;
			}
		}
	}
}


.main-menu__title{
	letter-spacing: 2.3px;
	font-weight: bold;
	border-bottom: 1px solid rgba( 255, 255 , 255, .5);
	padding-bottom: 30px;
	padding-left: 45px;
	text-transform: uppercase;

	strong{
		margin-right: 8px;
		cursor: pointer;
		display: none;
	}
}

.main-menu__items{
	padding-top: 45px;
	padding-left: 45px;
	line-height: 70px;
}


@media (max-width: 1700px){
	.main-menu__items{
		padding-top: 20px;
		padding-left: 20px;
	}

	.main-menu__title{
		padding-left: 20px;
	}

	.main-menu{
		font-size: 1.2em;
		padding: 20px;
	}
}


@media (max-width: 1440px){
	.main-menu{
		font-size: 1.14em;
	}

	.main-menu__items{
		line-height: 50px;
	}
}

@media (max-width: 1300px){
	.main-menu{
		font-size: 1em;
	}
}


@media (max-width: 1199px){
	.main-menu__title {
		border-color: transparent;
		padding: 25px 0;
		
		strong{
			display: inline-block;
		}
	}

	.main-menu__items{
		display: none;
		padding: 0 0 0 40px;
		line-height: 40px;
	}

	.main-menu{
		display: block;
		padding-top: 30px;
		overflow: auto;
		max-height: calc( 100vh - 30px);
		min-height: auto;
	}

	.main-menu__column.mobile-open{
		.main-menu__items{
			display: block;
		}
	}
}