.name-info-attachment {
    font-size: 1.28em;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: normal;
    margin-bottom: 30px;
}
.attachment-main {
    display: flex;
    flex-direction: column;
    margin-top: 22px
;
    .items-container-attachment {
        font-size: 1rem;
        display: flex;
        margin-top: 30px;
        margin-left: -90px;
        align-items: center;
        margin-bottom:-15px;
        a {
            margin-left: 10px;
            color:#3d5567;

        }
    }
}@media (max-width: 1000px) {
    .items-container-attachment {
       margin-left: 30px !important;
    }
}


