.rope-road-row {
    margin-top: 50px;
    .rope-road-head {
        padding-left: 120px;
        .heading-description {
            width: 700px;
            margin-left: 150px;
            position: relative;
            top: 55px;
        }
    }
    .rope-road-body {
        display: flex;
        flex-direction: row;
        padding-left: 520px;
        margin-top: 100px;
    }
}