.rope-road-row {
    margin-top: 50px;
    .rope-road-head {
        padding-left: 120px;
    }
    .rope-road-body {
        display: flex;
        flex-direction: row;
        padding-left: 520px;
    }
}