@import "../helpers/mixins.scss";
@import "../general/colors.scss";

.registration-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .container__photo {
    height: 100%;
    width: 40%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .container__form {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 700px;
    .container__form-notice {
        background: red;
        border-radius: 2px;
        color: white;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    p {
      font-size: 34px;
    }

    .full-width {
      min-width: 398px;
    }

    .bottom-container {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: baseline;

      .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .row {
        height: 55px;

        input {
          height: 18px;
          width: 18px;
          margin-right: 15px;
        }

        h6 {
          font-size: 10px;
          font-weight: normal;
        }
      }

      .login-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        align-self: center;
        margin-top: 20px;

        h5 {
          font-size: 15px;
        }

        button {
          font-weight: normal;
          font-size: 15px;
          margin-left: 10px;
          cursor: pointer;
          border-style: none;
          background-color: transparent;
          border-width: 0;
          &:focus {
            outline: none;
          }

          &:hover {
            color: #c8c8c8;
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.column {
  flex-direction: column;
}
