
.container-inner {
  padding: 0 0 20px 50px;
  .row {
    .page-logo {
      display: flex;
      img {

      }
      h4 {
        position: relative;
        top: 15px;
        font-weight: normal;
      }
    }
    .game-card {
      background: white;
    }
  }
}