@import "../general/colors.scss";

.quiz-container {
    height: 50px;
    max-width: 750px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    transition: 1s;
    margin-left: 100px;
    margin-top: 5px;

    label {
        font-size: 15px;
        font-weight: bold;

        input {
            height: 15px;
            width: 15px;
            margin-right: 30px;
        }
    }
    h3 {
        margin-left: 220px;
    }
}

.quiz-page-button {
    margin: 50px 10px 10px 140px;
}

.quiz-container-green {
    background: rgba(133, 203, 63, 0.52);
    color: $green;
}

.quiz-container-red {
    background: rgba(253, 79, 79, 0.52);
}
