@import "../general/colors.scss";

.single-game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	 padding: 0 80px 0 20px;
	 position: relative;

    .single-game-header-gray {
        background: $gray;
        min-width: 100%;
        min-height: 200px;
        padding: 20px 530px 0 90px;

        .single-game-category {
            color: white;
            opacity: 0.8;
        }

        .single-game-header-gray-title {
            p {
                line-height: 1.1;
                font-size: 40px;
                color: white;
                font-weight: bold;
            }
        }
    }

    .single-game-header-image {
        position: absolute;
        margin-left: calc(100% - 530px);

        img {
            min-width: 550px;
            height: 320px;
            display: flex;
            align-self: flex-end;
        }
    }
}

.single-game-buttons-category{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    margin-left:7vw;
	 
	 a, button{
		  margin-right:.6vw;
		  margin-bottom: 10px;
    }
}

.single-game-description{
    font-weight: bold;
    font-size: 17px;
	 padding-right: 510px;
    margin: 20px;
}

.court-description {
    display: block;
    text-align: left;
}
.court-description ul {
    text-align: left;
}

@media (max-width: 1550px) {
	.single-game-header {
		padding: 20px;

		.single-game-header-image{
			display: none;
		}

		.single-game-header-gray{
			padding-right: 15px;
		}
	}

	.single-game-description{
		padding-right: 0;
	}
}


@media (max-width: 900px) {
	.single-game-header .single-game-header-gray{
		padding-left: 15px;

		.single-game-header-gray-title p{
			font-size: 2.23em;
		}
	}
}


