.planer-history-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .planer-history-total-counter {
    h4 {

    }
    h2 {

    }
    hr {

    }
    h5 {

    }
  }
}