@import "../helpers/mixins.scss";

.loop-search-form{
	padding: 50px 0;

	.heading{
		margin-bottom: 42px;
	}

    .text-button {
        margin-left: 8px;
    }

	.row{
		margin: 0 -8px;

		.form-select, button.form-button {
			margin: 0 8px 10px;
			width: calc((100% - 8px * 8) / 4);
		}
	}
}

@media (max-width: 1199px){
	.loop-search-form{
		.row{
			.form-select, button.form-button {
				width: calc((100% - 8px * 4) / 2);
			}
		}
	}
}

@media (max-width: 750px){
	.loop-search-form{
		.row{
			.form-select, button.form-button {
				width: 100%;
				margin: 0 0 15px 0;
			}
		}
	}
}