@import "../helpers/mixins.scss";
@import "../general/colors.scss";	

.loop-search-posts-container{
	padding: 30px 0 50px;
}


.loop-search-posts-container__top{
	@include flex-a-center;

	.form-select{
		margin: 0 0 35px auto;
		border: 0;
		height: 36px;
		@include flex-a-center;

		&__label{
			font-weight: normal;
			position: static;
			min-width: 115px;
			margin-right: 15px;
			font-size: 1em;
			letter-spacing: 2.3px;
			padding: 0;
		}


		select{
			padding-left: 5px;
			color: $green;
		}

		svg{
			top: 10px;
			
			path{
				stroke: $green;
			}
		}
	}
}


.loop-search-posts-container.gastronomy,
.loop-search-posts-container.accommodations,
.loop-search-posts-container.news{
	.row{
		margin: 0 -14px;
	}

	.loop-gastronomy-post,
	.loop-accommodation-post,
	.loop-news-post{
		margin-bottom: 90px;
	}
}

.loop-search-posts-container.photo-reports{
	.row{
		margin: 0 -15px;
	}

	.loop-photo-report-post{
		margin-bottom: 65px;
	}
}