@import "../helpers/mixins.scss";
@import "../general/colors.scss";

.pagination {
	margin: 30px 0;
	width: 100%;
	
	@include flex-centered;

	> button,
	> span {
		@include transparent-button;
		@include flex-centered;
		cursor: pointer;
		min-width: 30px;
		width: 30px;
		height: 30px;
		margin: 0 10px;
		font-size: 1em;

		color: $gray;
		background: rgba(50, 70, 85, 0.08);

		svg {
			height: 10px;
		}


		&.active{
			background: $gray;
			color: #fff;
		}
	}
}

@media (max-width: 600px ) {
	.pagination { 
		font-size: 0.9em;
		
		> button,
		> span { 
			min-width: 25px;
			width: 25px;
			height: 25px;
			margin: 0 5px;
		}
	}
}