.list-view__button {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 20px;
  img {
    height: 10px;
    width: 10px;
  }
  &:hover {
    background: white;
  }
}