@import "../general/colors.scss";


.loader-button {
    cursor: pointer;
    transition: 1s;
    .button-loader {
        display: flex;
        border: 8px solid rgba(243, 243, 243, 0.73);
        border-radius: 50%;
        border-top: 8px solid $green;
        width: 20px;
        height: 20px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        .button-loader-inner {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            position: absolute;
            background: $green;
        }
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
