.text-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    &.white {
        color: white;
    }
}
