.checkbox-container {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  height: 40px;

  h6 {
    font-size: 18px;
    font-weight: normal;
  }

  input {
    margin-right: 10px;
  }
}