@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.container-inner {
  background: white;
  padding: 50px;
  margin: 10px 20px 10px 20px;

  @media(max-width: 600px){
	  padding: 25px;
  }

  .container-inner__body {
    display: flex;
    flex-direction: column;
    text-align: center;

    .container-inner-input__long {
      min-height: 60px;
      max-width: 806px;
    }

    .container-inner-input {
      min-height: 60px;
      width: 398px;
		margin-bottom: 10px;
		
		@media(max-width: 600px){
			min-width: auto;
			width: 100%;
			margin-right: 0;
		}
    }

    .container-inner-input__margin-bottom {
      min-height: 60px;
      width: 398px;
		margin-bottom: 50px;
		
		@media(max-width: 600px){
			min-width: auto;
			width: 100%;
		}
    }

    .container-inner-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .container-inner-row-button {
        margin: 50px 0 10px 5px;

        button {
			 min-width: 398px;
			 
			 @media( max-width: 600px){
				 width: 220px;
				 min-width: auto;
			 }
        }
      }

      .container-inner-col {
        flex-direction: column;

        .birth-date-input {
          min-height: 60px;
          margin: 0 8px 10px;
        }

        .container-inner-input__margin-top {
          min-height: 60px;
          width: 398px;
			 margin-top: 50px;
			 
			 @media(max-width: 600px){
				margin-top: 10px;
				min-width: auto;
				width: 100%;
			}
        }

        .calendar-container {
          .calendar {
            width: 398px;
            height: 100%;
            border: 2px solid #85CB3F;
            padding: 10px 20px 20px 20px;
            margin-left: 5px;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

            .react-calendar__navigation {
              margin: 10px 20px 30px 10px;

              .react-calendar__navigation__arrow {
                display: block;
                border: none;
                background: white;
                font-size: 25px;
                color: $green;
                transition: 0.5s;
                border-radius: 100px;

                &:focus {
                  outline: none;
                }

                &:hover {
                  background-color: $green;
                  color: white;
                }
              }

              .react-calendar__navigation__next2-button,
              .react-calendar__navigation__prev2-button {
                display: none;
              }

              .react-calendar__navigation__label {
                border: none;
                background: white;
                font-size: 22px;
                color: $green;
                font-weight: normal;
                width: 180px;
              }
            }

            .react-calendar__tile {
              height: 60px;
              width: 10px;
              border: 0;
              background: white;
              transition: 1s;
              border: none;

              &:focus {
                outline: none;
              }

              &:hover {
                background-color: $green;
              }
            }

            .react-calendar__month-view__weekdays {
              text-align: center;
            }

            .react-calendar__month-view__weekdays__weekday {
              font-size: 16px;
              color: $green;
              text-decoration: none;

              abbr {
                text-decoration: none;
              }
            }

            .react-calendar__tile--active {
              background: $green;
              color: white;
              cursor: pointer;
              transition: 0.5s;
            }

            .react-calendar__tile,
            .react-calendar__month-view__days__day {
              font-size: 15px;
              font-weight: normal;
              font-family: 'Open Sans', sans-serif;
            }
          }
        }
      }
    }

    .gray-input {
      border: 2px solid #d2d2d2;
      min-width: 398px;
      min-height: 56px;
      padding: 5px;
      max-width: 806px;
      margin: 0 8px 10px;
		z-index: 0;
		
		@media(max-width: 600px){
			min-width: auto;
			width: 100%;
		}

      svg {
        right: 20px;
      }
    }

    .gray-input-fixed__width {
      border: 2px solid #d2d2d2;
      min-width: 398px;
      min-height: 56px;
      padding: 5px;
      margin: 0 8px 10px;
      z-index: 0;
		width: 398px;
		
		@media(max-width: 600px){
			min-width: auto;
			width: 100%;
		}

      svg {
        right: 20px;
      }
    }

    .margin-bottom {
      margin-bottom: 50px;
    }

    .row {
      button {
        min-width: 398px;
        margin: 50px 5px 0;
      }
    }
  }
}