@import "../general/colors.scss";
@import "../helpers/mixins.scss";


.button-with-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 60px;
    border: none;
    background-color: white;
    color: $gray;
    cursor: pointer;
    font-size: 16px;
    margin: 40px 0 30px 30px;

    hr {
        border: none;
        margin-top: 10px;
        width: 60px;
    }

    &:focus {
        outline: none;
    }
    &.active {
        color: $green;
        font-weight: bold;
    }

    &:hover {
        color: $green;
        font-weight: bold;

        hr {
            display: block;
            border: 1px $green solid;
        }
    }
}