
.white-body {
  .white-body-container {
    background: white;
    padding: 50px;
	 margin: 10px 20px 10px 20px;
	 
	 @media( max-width: 600px){
		 padding: 25px 15px;
	 }

    .white-body-container__inner {
      display: flex;
      flex-direction: column;
      .header-status-text {
        line-height: 0;
        margin: 0 5px 30px 5px;
        h4 {
          font-weight: normal;
          color: red;
        }
      }

      .row-margin-top {
        margin-top: 80px;
      }

      .row-with-buttons {
        justify-content: center;
        margin-top: 50px;
        .button-link {
          margin-top: 10px;
        }
      }

      .row {
        .col {
          .add-image-button__margin-top {
            margin-top: 50px;
          }
        }

        .button-add-item {
          margin-left: 270px;
			 width: 220px;
			 
			 @media(max-width: 800px){
				 margin-left: 0;
			 }
        }
        .col-margin-right {
          flex-basis: 40%;
        }
        .col-margin-bottom {
          margin-bottom: 30px;
        }
        .col-with-checkboxes {
			 flex-basis: 20%;
			 
			 @media(max-width: 800px){
				 flex-basis: 100%;
				 width: 100%;
			 }
        }
        .row-title {
          margin: 45px 5px 0 5px;
        }
        .edit-object-input {
			 min-width: 620px;
			 
			 @media( max-width: 750px){
				 min-width: 100%;
			 }
        }

        .edit-object-select {
          min-height: 56px;
          border: 2px solid #d2d2d2;
          margin: 5px;
          padding: 5px;
          flex-direction: row;
			 display: flex;
			 
			 @media( max-width: 600px){
				 min-width: 100%;
			 }
		  }
		  
		 

        .edit-object-textarea {
			 max-width: 1220px;
			 width: 100%;
			 min-width: auto;
          min-height: 200px;
        }

        .city-data-input {
          min-height: 56px;
          border: 2px solid #d2d2d2;
          margin: 35px 5px 5px 5px;
          padding: 5px;
          flex-direction: row;
          display: flex;
          width: 297px;
			 min-width: 0;
			 
			 @media (max-width: 600px) {
				 width: 100%;
			 }
        }

        .coordinates-input {
          min-height: 56px;
          border: 2px solid #d2d2d2;
          margin: 35px 5px 5px 5px;
          padding: 5px;
          flex-direction: row;
          display: flex;
          width: 150px;
          min-width: 0;
        }

        .km-input {
          min-width: 0;
          width: 200px;
        }
      }
    }
  }
}