@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.progress-bar {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 60px;
    svg {
        position: absolute;
        bottom: 220px;
    }

    .progress-container-0 {
        height: 5px;
        width: 25%;
        background-color: $gray;
        border-radius: 60px;
        .filler {
            height: 100%;
            text-align: right;
            transition: width 2s ease-in-out;
            border-radius: 60px;
        }
    }

    .progress-container-1 {
        height: 5px;
        width: 15%;
        background-color: $gray;
        border-radius: 60px;
        .filler {
            height: 100%;
            text-align: right;
            transition: width 2s ease-in-out;
            border-radius: 60px;
        }
    }

    .progress-container-2 {
        height: 5px;
        width: 15%;
        background-color: $gray;
        border-radius: 60px;
        .filler {
            height: 100%;
            text-align: right;
            transition: width 2s ease-in-out;
            border-radius: 60px;
        }
    }

    .progress-container-3 {
        height: 5px;
        width: 10%;
        background-color: $gray;
        border-radius: 60px;
        .filler {
            height: 100%;
            text-align: right;
            transition: width 2s ease-in-out;
            border-radius: 60px;
        }
    }

    .green {
        background-color: $green;
    }

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid;
    margin: 5px;
  }
    .green-dot {
        border-color: $green;
        background: $green;
    }
}