@import "../general/colors.scss";
@import "../helpers/mixins.scss";

.progress-bar {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 60px;
  font-weight: bold;
    svg {

    }

    .progress-bar-item {
        width: 20%;

        p {
            position: relative;
            left: -15px;
        }

        &:last-child .progress-bar-children .progress-line {
            display: none;
        }

        &.green-items {
            p {
                color: $green;
            }
            svg path,
            svg circle,
            svg ellipse,
            svg line,
            svg rect {
                stroke: $green;
            }
            .dot {
                background: $green;
            }
        }

        .progress-line-inner.green {
            width: 100%;
        }
    }

    .progress-bar-children {
        display: flex;
        align-items: center;
    }

    .progress-line {
        height: 5px;
        width: 100%;
        background-color: $gray;
        border-radius: 60px;
        position: relative;
    }
    .progress-line-0{
        width: 30%;
    }
    .progress-line-1,
    .progress-line-2 {
        width: 20%;
    }

    .progress-line-3{
        width: 10%;
    }

    .progress-line-inner {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: $green;
        width: 0;
        height: 100%;
        transition: 1s;
    }

    .green {
        background-color: $green;
    }

    .dot {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        border: 2px solid;
        margin: 5px;
    }

    .green-dot {
        border-color: $green;
        background: $green;
    }
}