@import "./colors.scss";
@import "../helpers/mixins.scss";

.pic-text-info{
	padding: 50px 0;
}

.pic-text-info__picture{
	width: 536px;
	min-height: 563px;
	margin-right: 16px;
}

.pic-text-info__info{
	flex: 1;
	background: $gray;
	color: #fff;
	padding: 40px 70px;
	position: relative;
}


.pic-text-info__info_head{
	@include flex-a-center;
	margin-bottom: 28px;

    svg {
        margin-right: 10px;
    }

    .heading{
        margin-bottom: 0;
        max-width: 260px;
    }
}


.pic-text-info__text{
	@include flex-wrap;

    .pic-text-info__extra-text {
        display: flex;
        justify-content: flex-end;
    }

	> div {
		flex: auto;
		min-width: 240px;
		padding: 0 15px;
	}

	.button-link {
		position: absolute;
		bottom: 40px;
	}

    .button-link-right {
        right: 70px;
    }
}


@media (max-width: 1600px) {

	.pic-text-info__picture{
		margin-right: 0;
		width: 100%;
		min-height: 320px;

		display: none;
	}

	

	.pic-text-info__info{
		flex: 1 1 100%;
		padding: 40px 15px;
		max-width: 100%;

		.pic-text-info__extra-text{
			flex: 1 1 100%;
			justify-content: flex-start;
			width: 100%;
			padding: 0;
		}

		tr{
			display: flex;
			flex-wrap: wrap;

			td{
				width: 100% !important;
			}
		}

		.button-link{
			position: static;
			margin-top: 20px;
			max-height: 58px;
		}
	}
}

@media (max-width: 800px) {

	.pic-text-info__picture {
		display: block;
	}
}