@import "../helpers/mixins.scss";
@import "./colors.scss";

.section-heading{
	@include flex-a-center;
	margin-bottom: 35px;

	svg{
		margin-right: 45px;
		path{
			fill: $gray;
			stroke: $gray;
		}
	}

    .heading-description {
        width: 200px;
        margin-left: 150px;
        position: relative;
        top: 50px;
        p {
            font-weight: bold;
            font-size: 17px;
        }
    }
}