@import "./colors.scss";
@import "../helpers/mixins.scss";

.weather{
	@include flex-centered;
	background-color: $gray_super_light_2;
	padding: 10px 45px;

	.loader{
		min-height: 74px;
	}
}

.weather__info{
	@include flex-a-center;
	margin-right: 140px;

	> div {
		line-height: 19px;
		
		strong:first-child{
			margin-bottom: 8px;
		}
	}

	svg{
		width: 50px;
		height: auto;
	}

	img{
		max-width: 100px;
	}

	span, strong{
		display: block;
	}
}

.weather__info_degrees{
	position: relative;
	font-size: 4.85em;
	margin: 0 36px 0 20px;
	line-height: 1.1;
	
	&::after{
		content: '';
		position: absolute;
		right: -10px;
		top: 10px;
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		border: 3px solid $gray;
	}
}

@media (max-height: 690px){
	.weather__info_degrees{
		font-size: 3.6em;
	}
}